[Unit]
Description=sysInvest monitor Server
After=network.target
[Service]
Type=simple
WorkingDirectory=/home/mbertens/sysinvest
ExecStart=/home/mbertens/sysinvest/venv/bin/sysInvestServer serve production
Restart=always
[Install]
WantedBy=multi-user.target
